h1 {
  font-family: "wilko-solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "rl-aqva", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  color: #40f5c2;
}
label {
  font-family: "wilko-solid", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
}
.container {
  padding: 2rem;
  background-color: #15ae6b;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.button-1 {
    background-color: #4cc3ea;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #3d7857;
  }
#result {
  text-align: center;
  font-family: "wilko-solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
  font-size: 40px;
}

